.wrapper {
    display: flex;
    flex-direction: column;

    width: 640px;
}

.ingredients {
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
}

.secondaryInfo {
    display: flex;
    justify-content: space-between;
}

.ingredientWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-right: 24px;
}

.ingredientInfo {
    display: flex;
    align-items: center;
}

.listWrapper {
    overflow-y: scroll;
    height: 366px;
}

.name, .title {
    align-self: flex-start;
}

.done {
    color: #00CCCC;
}

.status {
    align-self: flex-start;
}