.wrapper {
    text-align: center;

    margin-top: 180px;
}

.form {
    margin: 0 auto;
    max-width: min-content;
}

.form > div {
    margin-top: 24px;
}

.form > button {
    margin-top: 24px;
    margin-bottom: 80px;
}

.accent {
    color: #4C4CFF;
}