.container {
    max-width: 1280px;
    margin: 16px auto;

    display: flex;
    justify-content: space-between;

    position: relative;
}

.menu {
    display: flex;

    gap: 8px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}